<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>hello </span>
    <div>
        <form action="/api/login" method="post" >
            <div>
                <input type="text" name="username" placeholder="username" class="form-control"/>
            </div>
            <div>
                <input type="text" name="password" placeholder="password" class="form-control"/>
            </div>

            <button>测试按钮</button>
        </form>
    </div>

</body>
</html>