<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>success view</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div layout:fragment="content" class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>颜色</td>
            <td>价格</td>
        </tr>
        </thead>
        <tr th:each="apple : ${apples}">
            <td th:text="${apples.color}">color</td>
            <td th:text="${apple.price}">price</td>
        </tr>
    </table>
</div>

</body>
</html>